.navbar {
    background-color: #003366; /* Ejemplo de color PANTONE */
}

.btn-primary {
    background-color: #003366; /* Ejemplo de color PANTONE */
    border-color: #003366; /* Ejemplo de color PANTONE */
}